extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake Public Speaker`
        let description = `Roberto Blake is a Public Speaker covering the topics of Marketing, Creative Services, Social Media and YouTube.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake, Keynote Speaker: Marketing &amp; Strategy
        .header__panel
            .header__body--speaker
    .landing__content