$color-gallery: #eee;
$color-mine-shaft: #333333;
$color-white: #fff;
$color-mercury: #e7e7e7;
$color-pizazz: #FF9600;
// background color
$color-sandy-brown: #f0ad4e;
// border color
$color-fuel-yellow: #eea236;
$color-meteor: #D58512;


// link normal
$color-astral: #337ab7;
// link hover state
$color-bay-of-many: #23527c;
