extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake: Press, Interviews and Features`
        let description = `Roberto Blake has been featured in publications such as Forbes.com, Advanced Photoshop and Photoshop Creative Magazine.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake: Press, Interviews and Features
        .header__panel
            .header__body--press
    .landing__content
        hr
        .image-text__wrapper
            .image
                img(
                    src="/asset/image/roberto-blake-selfie.png"
                    alt="Roberto Blake Selfie"
                )
            .text-justify
                h2 About Roberto Blake
                p Roberto Blake is the #[strong CEO and Creative Director of Create Awesome Media, LLC.], where he develops and produces digital content and online media properties. Currently he is the host of a popular Creative Education Channel on YouTube, "Always Be Creating". Roberto also host and co-produces the "Create Something Awesome Today Podcast", in partnership with Liebsmedia.
                p As a practictioner in video marketing, Roberto has a background in advertising, marketing and brand development based in a long career in the creative services industry. Leveraging skills in Graphic Design, Photogaphy and Video Editing, Roberto uses his versatility as and advantage in social media platforms and content that rely on these advanced skills.
                p As a Public #[+link("/speaker.php", "Speaker", "Speaker")] he covers a variety of topics that fall within his wheel house such as: video marketing, personal branding, entrepreneurship, career development, and social media. He has attended various events as a speaker including PePCon, AdobeMax, Vloggerfair, and HOW Desigm LIVE.
                p
                    em "I believe strongly in not just going off of theory or best practices. Too often clients are asked to commit to someone who has not produced the results they are selling them on. My own body of work and personal brand demonstrates my ability to execute and be consistent while being flexible."
        hr
        .image-text__wrapper
            .image
                img(
                    src="/asset/image/roberto-blake-smile.png"
                    alt="Roberto Blake Selfie"
                )
            .text-justify
                h2 My Story...
                p As far back as I can remember, there was always the desire to make things. It has always been at my core who I really am, I want to build the world that I'm going to live in, I can't just accept something as it is without wanting to see if I can somehow improve on it, or even make something completely different. As a kid I would spend hours drawing or taking things apart and putting them back together. It is no real surprise that I can balance creativity and technical ability, or why I am so passionate about both of these things.
                p Telling stories is also something I've always done, even in the early days. I remember drawing my own comic books by hand, stapling them together and selling them to my classmates at 6 years old. Even then I was a creative entrepreneur. 10 years old was when I became fascinated by cameras and photography, and capturing the world one snapshot at a time. By the time I was 13 years old, we'd gotten our first real computer and that summer I taught myself HTML code so I could create websites instead of just consume them. Fast forward to me at 15 years old where I started learning to create and edit videos... a whole 5 years before YouTube would be invented. Investing in the skills that would be the foundation of my career is something I did wait till 18 years old to do.
                p Communication, storytelling, that is my core skill. I've never been a "Jack of All Trades, Master of None"; no more than an well toned athlete who does a triathlon. I've applied the #[strong skill of storytelling] as my interest and current technology evolved. I consider myself to be an explorer, a mapmaker on a journey of the creative landscape and I constantly want to challenge myself and find a new way of starting a conversation.
                p That is why my career has been so interesting and has taken so many directions. It represents my true narrative as an explorer and wanderer. As a creative entrepreneur, you find a balance of creativity and consistency that is very hard to come by otherwise. The challenge of building something and growing it is something that can be very appealing, and for me it is ideal. I found what I want my life and legacy to be:
                p
                    em "Create Awesome Things and Share Them With the World, While Educating and Motivating Others to Do the Same."
                p Everyday I get to explore the things I'm most passionate about and serve clients and creatives that I believe in creating value for. The opportunity to build things, and invest in the personal growth of other human beings and enable entrepreneurship is a life and career I am very grateful for. Each day I get to educate, empower, encourage and enable others to be successful and awesome human being that create value through their work, their passion or their businesses.
        hr    