@media screen and (min-width:768px){
    .header__menu-list {
        display: flex;
        top: 0.8rem;
        z-index: 2;
        right: 0.1rem;
        left: inherit;
        border: 0;
    }

    .header__menu-item {
        list-style-type: none;
        position: relative;

        &:first-child .header__menu-link {
            padding-top: 0.5;
        }
    }


    .rbcf-menu {
        display: none;
    }

    .header__sub-menu {
        list-style: none;
        position: absolute;
        top: 4.4rem;
        left: 0;
        background-color: $color-mine-shaft;
    }
}