nav.header
    //- pre=JSON.stringify(data['top-menu'], null, 2)
    input(type="checkbox", id="toggle-top-menu")
    ul.header__menu-list
        each item in data['top-menu']
            li.header__menu-item
                if item.type && item.type == 'dropdown'
                    input(type="checkbox", id="header-sub-menu")
                    label.a.header__menu-link(for="header-sub-menu")
                        span=item.text
                        span.rbcf-circle-down
                    ul.header__sub-menu
                        each dropdown in item.children
                            li
                                a.header__menu-sub-link(href=dropdown.href)=dropdown.text
                else
                    a.header__menu-link(href=item.href, target=item.target)=item.text
    .header__top
        span.header__name Roberto Blake
        label.rbcf-menu(for="toggle-top-menu")

                