%button {
    border: 0.1rem solid $color-fuel-yellow;
    background-color: $color-sandy-brown;
    text-decoration: none;
    font-size: 2rem;
    font-weight: normal;
    color: $color-white;
    border-radius: 0.5rem;
    text-transform: uppercase;

    &:hover {
        background-color: $color-fuel-yellow;
        border-color: $color-meteor;
    }
}


.button__download {
    @extend %button;
    padding: 1rem 1.5rem;
}


.button__small {
    @extend %button;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}