//reset everything
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    // reset the font size to 10px
    font-size: 62.5%;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    padding-top: 5.2rem;
}

p {
    font-size: 1.6rem;
}

a {
    color: $color-astral;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

}


hr {
    border-top: 0.1rem solid $color-gallery;
    margin: 1.5rem;
}
@import 'landing-content';