//reset everything
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    // reset the font size to 10px
    font-size: 62.5%;
}

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
    // margin-top: 5.2rem;
}

.header__wrapper {
    background-color: $color-pizazz;

    h1 {
        color: $color-white;
        font-size: 3.6rem;
        font-weight: normal;
        padding: 1rem 1.5rem;
        text-align: center;
    }
}

.header__body {
    background-image: url('asset/image/robertoblake2016header.jpg');
    height: 61.1rem;
    background-position: center center;
    background-size: cover;
}