@media screen and (min-width: 768px) {

    .image-text__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;

        // .image {
        //     // flex-grow: 1;
        // }

        .text-justify {
            padding: 0 2rem;
        }
    }

    .two-column {
        display: flex;
    }

    .column {
        width: 50%;
        padding: 1rem;
        text-align: justify;
    }
}
