doctype html
html
    block awesome-config
    head
        title=title
        meta(name="descsription", content="description")
        meta(name="robots", content="noindex")
        link(rel="canonical", href="http://robertoblake.com/")
        link(rel="stylesheet", href="style.css")

    body
        block awesome-content
        h1 this is title