.footer {
    font-size: 1.4rem;
    text-align: center;
}

.footer__social {
    background-color: $color-pizazz;
    margin-bottom: 2rem;
    color: $color-white;

    a {
        color: $color-astral;
    }

    h2 {
        font-size: 3rem;
        padding: 1.5rem;
    }

    p {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

.footer__description {
    color: $color-white;
    width: 34rem;
    margin: 0 auto;
    padding: 1rem;
}

.footer__link {
    padding: 1.5rem;
    display: block;
}

.social__icon {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    background-image: url("asset/image/social-logo-sprite.png");
}

.social__item {

    &:nth-child(2) .social__icon {
        background-position-y: -15rem;
    }
    &:nth-child(3) .social__icon {
        background-position-y: -30rem;
    }
    &:nth-child(4) .social__icon {
        background-position-y: -45rem;
    }
}