extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake, Online Educator Proving Training, Coaching and Workshops`
        let description = `Roberto Blake provides remote and on-site training, consulting and coaching. His areas of expertise include video marketing and production, creative services, inbound marketing and SEO.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake: Consulting, Courses &amp; Workshops
        .header__panel
            .header__body--training
    .landing__content
        hr    
        .text-justify
            h2 1-on-1 Coaching/Consulting (Individual)
            p Having someone be able to help you set an agenda and outline for developing your brand, improving your marketing or setting up your digital presence, can greatly accelerate your success and reduce frustration. The difference between success and failure is rarely a lack of ability or even effort, but a lack of clear objectives and the practical means to reach them. Being held accountable, and having additional guidance, techncial expertise or even just and outside perspective, can make a measurable difference.
            h3 Available Services Provided
            ul.list-padded
                li Scheduled Calls via Skype
                li Priority Access
                li Brand Audit of Social Media Accounts, Website and YouTube Channel
                li Techncial Advice and Ocassional Technical Support
                li Customized Training Sessions
                li Equipment and Software Recommendations
                li SWOT Analysis and Customized Action Plans
            a.button__small(href="/contact.php", title="Book Consulting Services") Book Consulting Services
        hr    