extends ../_component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake, Online Educator Proving Training, Coaching and Workshops`
        let description = `Roberto Blake provides remote and on-site training, consulting and coaching. His areas of expertise include video marketing and production, creative services, inbound marketing and SEO.`
block awesome-content
    include ../_component/mixin/link
    .header__wrapper
        h1 Roberto Blake: Consulting, Courses &amp; Workshops
        .header__panel
            .header__body--training
    .landing__content
        hr    
        .text-justify
            h2 1-on-1 Coaching/Consulting (Individual)
            p Having someone be able to help you set an agenda and outline for developing your brand, improving your marketing or setting up your digital presence, can greatly accelerate your success and reduce frustration. The difference between success and failure is rarely a lack of ability or even effort, but a lack of clear objectives and the practical means to reach them. Being held accountable, and having additional guidance, techncial expertise or even just and outside perspective, can make a measurable difference.
            h3 Available Services Provided
            ul.list-padded
                li Scheduled Calls via Skype
                li Priority Access
                li Brand Audit of Social Media Accounts, Website and YouTube Channel
                li Techncial Advice and Ocassional Technical Support
                li Customized Training Sessions
                li Equipment and Software Recommendations
                li SWOT Analysis and Customized Action Plans
            a.button__small(href="/contact.php", title="Book Consulting Services") Book Consulting Services
        hr
        .text-justify
            h2 Consulting and Workshops (Corporate)
            p p Social Media and Video Marketing are important aspects of the business world today when it comes to engaging with customers, growing brand awareness and driving conversions. Expertise in producing, developing and optimizing digital content is a priority and something that many companies would prefer to do in-house. Through specilaized training your internal departments can be equipped with the right workflows, best practices and tools required to ensure your business has an effective content strategy and process that converts, grows leads and grows engagement for your brand.
            h3 Services Offered
            ul.list-padded
                li On-site Training: Video Marketing
                li Remote Training: Video Marketing
                li YouTube Channel Optimization Training
                li Video Editing and Post Production Workflows for Small Teams
                li Live Stream Video Production Training (Multiple Platforms)
                li YouTube Channel Audit 
                li Video Content Strategy for Multiple Platforms
            a.button__small(href="/contact.php", title="Schedule Training") Schedule Training
        hr
        .text-justify
            h2 Awesome Creator Academy Group Mentoring Program [BETA]
            p When you're just getting started, being part of a group of people who are working just as hard as you are toward their goals, can provide much needed encouragement and accountability. The Awesome Creator Academy Group Mentoring Progam, provides a hybrid between self education, online course learning and peer learning. This group has exclusive content not provided on my YouTube channel, early access to my paid courses and guides, as well specially crafted assignments focusing on: #[bold personal brand development, online business, YouTube channel growth, and email marketing].

            a.button__small(href="/beta", title="Join the BETA") Join the BETA
        
        hr
        .text-justify
