extends _component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake replica`
        let description = `This will be an improved version of Roberto Blake's site`
block awesome-content
    .header__wrapper
        h1 Entrepreneur, Author & Speaker
        .header__panel
            .header__body
            .header__footer
                h2 Download My Free E-book on Personal Branding!
                a.header__download(
                    href="join-newsletter.php",
                    title="Download Free Personal Branding Ebook"
                    ) Download

    .landing__content
        h2 MEET ROBERTO BLAKE
        p Roberto Blake is a Creative Entrepreneur helping businesses, brands and individuals market themselves effectively with engaging visuals and effective messages.
        p Roberto has over 10 years of experience commercially in #[strong design] and #[strong marketing] and has helped brands, both large and small achieve their goals and reach their audiences.
        //- p His work has been recognized by #[+link('http://www.forbes.com/sites/markfidelman/2016/09/06/20-must-watch-youtube-channels-that-will-change-your-business/', 'Forbes', 'Forbes')], #[+link('http://www.huffingtonpost.com/tayo-rockson/disrupting-creative-servi_b_9154918.html', 'Huffington Post', 'Huffington Post')], #[+link('https://blogs.adobe.com/creativecloud/tag/roberto-blake/', 'Adobe', 'Adobe')] and #[+link('http://www.photoshopcreative.co.uk/image/47806/feel_the_noise', 'Photoshop Creative Magazines', 'Photoshop Creative Magazines')]. 
        p He is a #[strong HOW Design Live Speaker] and contributor to several publications.
        p He is a #[strong HOW Design Live Speaker] and contributor to several publications.
        p He is a #[strong HOW Design Live Speaker] and contributor to several publications.
        p He is a #[strong HOW Design Live Speaker] and contributor to several publications.
        p He is a #[strong HOW Design Live Speaker] and contributor to several publications.