extends _component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake replica`
        let description = `This will be an improved version of Roberto Blake's site`
block awesome-content
    .header__wrapper
        h1 Entrepreneur, Author & Speaker
        .header__panel
            .header__body
            .header__footer
                h2 Download My Free E-book on Personal Branding!
    p 
        |this is the landing page
        span.rbcf-home3