extends _component/layout/layout
block awesome-config
    -
        let title = `Roberto Blake replica`
        let description = `This will be an improved version of Roberto Blake's site`
block awesome-content
    p this is the landing page